# Load CSV Data into SQLite Database

Below code loads CSV data into an SQLite database. It creates a database `salary_data.db`, defines a schema, and insert data from a CSV file into the database.

In [7]:
## Importing Required Libraries
'''
Importing the necessary libraries for database interaction and CSV file handling.
'''
import sqlite3
import csv

def load_csv_to_db(csv_file, db_name):
    conn = sqlite3.connect(db_name)
    cur = conn.cursor()

    # Create table (example for the provided columns)
    cur.execute('''CREATE TABLE IF NOT EXISTS salary_data (
                      PersonID INTEGER,
                      PersonName TEXT,
                      SchoolID TEXT,
                      SchoolName TEXT,
                      SchoolCampus TEXT,
                      DepartmentName TEXT,
                      DepartmentID TEXT,
                      BirthDate TEXT,
                      StillWorking TEXT,
                      JobID TEXT,
                      JobTitle TEXT,
                      Earnings REAL,
                      EarningsYear INTEGER
                  )''')

    # Read CSV and insert rows into the table
    with open(csv_file, 'r') as file:
        reader = csv.reader(file)
        next(reader)  # Skip header row
        for row in reader:
            cur.execute('''INSERT INTO salary_data VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', row)

    conn.commit()
    conn.close()

# Example usage
load_csv_to_db('./csv_files/salary_tracker_100MB.csv', 'salary_data.db')